/* Home.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
  }
  
  .contentText {
    font-size: 1.2rem;
    color: #555;
  }
  
  .imageContainer {
    margin-top: 20px;
  }
  
  .image {
    border-radius: 50%;
  }
  
  .textAdmin {
    margin-top: 20px;
    font-size: 1rem;
    color: #777;
  }
  