main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 90vw;
    margin: 5rem auto;
    background: rgb(236, 243, 136);
    border-radius: 0.25rem;
    padding: 2rem 2rem;
    max-width: 920px;
  }
  
  .btn{
    background: #afe715;
    border: transparent;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(241, 140, 24);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1rem;
    align-self: center;
    min-width: 2rem;
  }
  
  .content{
    padding: 1rem 1.5rem;
    border: 2px solid #ff780a;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(15, 177, 169, 0.1);
  }
  
  .content header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content p{
    color: rgb(248, 146, 12);
  }
  h3{color: rgb(238, 115, 14);}